%div{:id => "#{dom_id order}"}
  %p
    %strong User:
    = order.user_id
  %p
    %strong Date:
    = order.date
  %p
    %strong Status:
    = order.status
  %p
    %strong Active:
    = order.active
