%div{:id => "#{dom_id book}"}
  %p
    %strong Publisher:
    = book.publisher_id
  %p
    %strong Title:
    = book.title
  \%&gt;
  %p
    %strong Isbndb:
    = book.isbndb
  %p
    %strong Publish date:
    = book.publish_date
  %p
    %strong Language:
    = book.language
  %p
    %strong Mrp:
    = book.mrp
  %p
    %strong Discount:
    = book.discount
  %p
    %strong Price:
    = book.price
  %p
    %strong Paperback:
    = book.paperback
  %p
    %strong Quantity:
    = book.quantity
  %p
    %strong Active:
    = book.active
